html, body, #react-mount {
  height: 100%;
}

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

.site-title {
  text-transform: uppercase;
  text-decoration: none;
}

.site-title:hover {
  text-decoration: none;
}

.page-title {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

h3, h4 {
  margin-bottom: 16px;
}

h5 {
  margin-top: 16px;
  margin-bottom: 16px;
}

a {
  color: #3367d6;
  text-decoration: none;
}
a:visited {
  color: #3367d6;
}

a:hover {
/*  text-decoration: underline; */
}

.demo-grid-1 .mdc-layout-grid__cell {
  height: 100px;
  background-color: #DDD;
  color: #AAA;
  font-size: 1rem;
  line-height: 100px;
  padding: 0 24px;
  display: flex;
}


/* Prism.js overrides*/
pre[class*="language-"]{
  background-image: none;
  border-radius: 0;
}

code[class*="language-"]{
  font-family: 'Roboto Mono', monspace;
  font-size: 0.85rem;
}

/* Needed to make demo buttons pick up the primary color, since the concept of primary button is
   removed in mdc version 0.21 */
.mdc-button--raised {
  background-color: var(--mdc-theme-primary, #3f51b5) !important;
  color: var(--mdc-theme-text-primary-on-primary,#fff) !important;  
}

.mdc-snackbar__action-button {
  color: var(--mdc-theme-accent,#ff4081) !important;
  background-color: unset !important;
}